// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin app-help-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  // Use mat-color to extract individual colors from a palette as necessary.
  app-help {
    p {
      color: mat-color($foreground, secondary-text);
    }

    a {
      color: mat-color($foreground, disabled-text);
      // color: mat-color($accent);
      text-decoration: none;
    }
  }
}
