.mat-list-item {
  height: 100% !important;
}

.mat-line {
  overflow: visible !important;
  text-overflow: inherit !important;
  white-space: inherit !important;
}

.mat-divider {
  margin: 10px 0;
}

p {
  margin-top: 5px !important;
  line-height: 2;
}
