.wrapper {
  // align-items: left;
  // box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // height: 100%;
  // max-height: 100%;
  // place-content: center;
  // width: 100%;
  // justify-content: center;

  padding: 3rem 2rem;

  .hero-title {
    font-weight: 100;
    margin-bottom: 15px;
  }

  .subtitle {
    font-weight: 300;
    margin-bottom: 30px;
    padding-left: 12px;
  }

  .login {
    margin-left: 12px;
  }
}
